.navbar{
    background-color: rgb(31, 29, 29);
}
.nav-item a {
    color:#06BBCC;
}
.navbar h1{
    color: #06BBCC;
}
.nav-item a:hover{
    cursor: pointer;
    font-weight: 600;
    color:white;    
}
.backcolor{
    background: rgba(24, 29, 56, .7)
}
*{
    color: white;
}
.heding{
    font-size: 100px;
}
.btn{
    background:#06BBCC;
    color: aliceblue;
}
.btn:hover{
    background: #000;
    color: white;
}
.password{
    text-decoration: none;
    color: #06BBCC;
}